{{#partial "content"}}
    <h1>Favorite Traveling Photos</h1>
    <ul>
        <li><img src='/hakon.jpg' alt='A photo of a mountain.' width="100%" height="500"/></li>
        <li><img src='/peter.jpg' alt='A photo of a a rocky beach.' width="100%" height="500"/></li>
    </ul>
{{/partial}}

{{> layout.hbs}}