{{#partial "title" }}
    Your custom greeting
{{/partial}}


{{#partial "content"}}

    <h1>Hello From Afar</h1>
    <p>Dear {{ recipient }},</p>
    <p>How are you? I hope that you are having a nice weekend. I'm vacationing in the Iceland while I learn programming! </p>
    <p>{{ recipient }}, you would not believe how cold it is here. I should have gone to Hawaii instead.</p>
    <p>But I like programming a lot, so I've got that going for me. </p>
    <p>Looking forward to seeing you soon. I'll bring you back a souvenir. </p>
    <p>Cheers,</p>
    <p>Travel Enthusiast {{ sender }}</p>

{{/partial}}

{{#partial "footer"}}
    <p><a href="/">Back Home</a></p>

{{/partial}}

{{> layout.hbs}}