{{#partial "content"}}
<!--content in above refers to the block name given in layouts.hbs , that is where our segment will be mapped-->
    <h1>Hello From Afar</h1>
    <p><a href="/forms">Create greeting card</a> </p>
    <p><a href='/favorite_photos' >P.S. Check out my favorite travel photos here.</a></p>
{{/partial}}
{{#partial "footer"}}
       Hello Joseph
    {{/partial}}
<!--ref to layout.hbs-->
{{> layout.hbs}}